img {
  width: 300px;
}

.dark {
  background-color: black;
  color: white;
}

#initially-hidden {
  display: none;
}

.slide-toggle {
  color: red;
}

.slide-toggle:hover {
  text-decoration: underline;
  cursor: pointer;
}
